body {
  background-image: url("../src/assets/pexels-breakingpic-3243.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: blur(5px);
  height: 100%;
}
