
 p {
  align-self: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

 p:hover {
  color: rgb(231, 139, 0);
}

 h5 {
  width: 90%;
  margin: 0.7em auto;
  overflow: hidden;
  text-align: center;
  font-weight: 300;
  color: rgb(155, 148, 148);
}
 h5:before,
h5:after {
  content: "";
  display: inline-block;
  width: 49%;
  height: 1px;
  margin: 0 -59%;
  vertical-align: middle;
  background: -webkit-linear-gradient(
    left,
    rgb(155, 148, 148) 0%,
    transparent 100%
  );
}

h5::after {
  /* margin: 0  -55%;  */
  background: -webkit-linear-gradient(
    right,
    rgb(155, 148, 148) 0%,
    transparent 100%
  );
}
