body {
  background-image: url("../../assets/pexels-breakingpic-3243.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: blur(5px);
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: rgb(255, 254, 233); */
}

.auth form {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 239, 227);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 100px;
}

.auth h1 {
  margin-top: 0px;
  margin-bottom: 75px;
  font-size: 50px;
  align-self: center;
}

.auth p {
  align-self: center;
  cursor: pointer;
}

.auth p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.auth p:hover {
  color: rgb(231, 139, 0);
}

.auth h5 {
  width: 90%;
  margin: 0.7em auto;
  overflow: hidden;
  text-align: center;
  font-weight: 300;
  color: rgb(155, 148, 148);
}
.auth h5:before,
h5:after {
  content: "";
  display: inline-block;
  width: 49%;
  height: 1px;
  margin: 0 -59%;
  vertical-align: middle;
  background: -webkit-linear-gradient(
    left,
    rgb(155, 148, 148) 0%,
    transparent 100%
  );
}

.auth h5::after {
  /* margin: 0  -55%;  */
  background: -webkit-linear-gradient(
    right,
    rgb(155, 148, 148) 0%,
    transparent 100%
  );
}
